a.bluebutton {
  color: #2ca9e1;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
a.bluebutton:hover {
  margin-top: 3px;
  color: #2ca9e1;
  background: #f56500;
  border-bottom: 2px solid #19448e;
}
a.blueshadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
